<div class="row">
  <div class="col-sm-12">
    <h1>Change Password</h1>
  </div>
  <div class="col-sm-3">
    <form class="form" name="form" ng-submit="cl.changePassword(form)" novalidate>

      <div class="form-group">
        <label for="oldPassword">Current Password</label>

        <input class="form-control" type="password" id="oldPassword"
               ng-model="cl.user.oldPassword" mongoose-error/>

        <p class="help-block" ng-show="form.password.$error.mongoose">
          {{ cl.errors.other }} </p>
      </div>

      <div class="form-group">
        <label for="newPassword">New Password</label>

        <input class="form-control" type="password" id="newPassword"
               ng-model="cl.user.newPassword"
               ng-minlength="3"
               required/>

        <p class="help-block"
           ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || cl.submitted)">
          Password must be at least 3 characters. </p>
      </div>

      <p class="help-block"> {{ cl.message }} </p>

      <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
    </form>
  </div>
</div>
