<div class="col-sm-9">
  <table class="table table-striped table-hover table-condensed table-bordered" ng-mouseleave="vm.hover(null)">
    <tr ng-repeat="order in vm.orders" ng-mouseenter="vm.hover(order)"
        ng-class="order == vm.currentOrder ? 'active' : ''">
      <td ng-click="vm.setActiveOrder(order)">
        {{vm.getUser(order).name}}
      </td>
      <td ng-click="vm.setActiveOrder(order)">
        {{vm.getDish(order).name}}
      </td>
      <td ng-click="vm.setActiveOrder(order)">
        {{order.comment}}
      </td>
      <td ng-click="vm.setActiveOrder(order)">
        {{vm.getDish(order).price}}
      </td>
      <td ng-click="vm.setActiveOrder(order)">
        {{order.isPaid}}
      </td>
      <td>
        <a href="#" class="glyphicon glyphicon-remove"
           ng-show="order.hover"
           ng-click="vm.delete(order)"></a>
      </td>
    </tr>
  </table>
  <br/>

  <form ng-submit="vm.save()">
    <div class="col-sm-6">
      <select id="dishNameSelect" class="form-control"
              ng-model="vm.currentOrder._dish"
              ng-options="dish._id as dish.name for dish in vm.dishes">
      </select>
    </div>
    <div class="col-sm-3">
      <input class="form-control" type="text" ng-model="vm.currentOrder.comment"/>
    </div>
    <div class="col-sm-3">
      <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
  </form>

</div>
