<div class="col-sm-6">
  <table class="table table-striped table-hover table-condensed table-bordered" ng-mouseleave="cl.hover(null)">
    <tr ng-repeat="dish in cl.dishes" ng-mouseenter="cl.hover(dish)">
      <td ng-click="cl.setActiveDish(dish)">
        {{dish.name}}
      </td>
      <td ng-click="cl.setActiveDish(dish)">
        ${{dish.price}}
      </td>
      <td ng-click="cl.delete(dish)">
        <a href="#" class="glyphicon glyphicon-remove" ng-show="dish.hover"></a>
      </td>
    </tr>
  </table>
  <br/>

  <form ng-submit="cl.save()">
    <div class="col-sm-6">
      <input id="dishNameInput" class="form-control" type="text" ng-model="cl.currentDish.name"/>
    </div>
    <div class="col-sm-3">
      <input class="form-control" type="text" ng-model="cl.currentDish.price"/>
    </div>
    <div class="col-sm-3">
      <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
  </form>

</div>
