<div class="col-sm-6">
  <table class="table table-striped table-hover table-condensed">
    <tr ng-repeat="dish in cl.dishes" ng-click="cl.setActiveDish(dish)">
        <td>
          {{dish.name}}
        </td>
        <td>
          ${{dish.price}}
        </td>
    </tr>
  </table>
  <br/>

  <form ng-submit="cl.save()">
    <div class="col-sm-6">
      <input class="form-control" type="text" ng-model="cl.currentDish.name"/>
    </div>
    <div class="col-sm-3">
      <input class="form-control" type="text" ng-model="cl.currentDish.price"/>
    </div>
    <div class="col-sm-3">
      <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
  </form>

</div>
